@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.login-page{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.login-page img{
  height: 200px;
}

.auth{
  width: 500px;

  display: flex;
  flex-direction: column;
}

.auth-options{
  width: 100%;
  text-align: center;

  display: grid;
  grid-template-columns: 1fr 1fr;
}

.auth-options div{
  padding: 5px;
  border: 1px solid black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: none;
  cursor: pointer;
}

.auth-details{
  padding: 50px;
  border: 1px solid black;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.user-view{
  min-height: 100vh;

  display: grid;
  grid-template-rows: auto 1fr;
}

.header{
  /* background-color: #c44536; */
  padding-top: 10px;

  display: grid;
  grid-template-columns: auto 1fr auto;
}

.header img{
  height: 90px;
}

.header span{
  grid-column: 3;
  margin: 20px;
  cursor: pointer;
  font-family: 'Catamaran', sans-serif;
  font-size: 1.3rem;
}

.dash{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.card{
  margin: 0 10px;
  height: 300px;
  border: 1px solid black;
  cursor: pointer;
}

.card-label{
  text-align: center;
}

.map-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#list{
  overflow-y: auto;
  padding: 10px;
  font-size: .8rem;
}

.selected{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.list-item{
  padding: 10px;
}

.list-name,.list-address, .gas-price-div, svg{
  cursor: pointer;
}

.price-table{
  padding: 0 15px 0 10px;
  display: grid;
  grid-template-columns: auto repeat(4, 1fr);
  grid-template-rows: auto repeat(2, 1fr);
  gap: 5px;
}

.gas-price-div{
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.gas-price-div p{
  margin: 0;
  font-size: 6px;
}

.gas-price{
  margin: 5px;
}

.gas-method{
  align-self: center;
}

.gas-type{
  justify-self: center;
}

.star-div{
  padding-top: 10px;
  display: flex;
  justify-content: end;
}

.star-div svg{
  font-size: 1.1rem;
}

.update-popup-container{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.406);
}

.update-popup{
  width: 200px;
  height: 200px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  border-radius: 10px;
  padding: 15px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.price-input{
  font-size: 2rem;

  display: flex;
  gap: 2px;
}

[type='number']{
  width: 35px;
  font-size: 2rem;
}

.fav-item{
  padding: 15px;
}

.fav-item-title{
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.log-item{
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

  display: grid;
  grid-template-columns: auto 1fr;
  gap: 5px;
}

.log-item span{
  margin-right: 10px;
}
